parameters:
    level: 1
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    universalObjectCratesClasses:
        - Zend_Config
        - ArrayObject
    ignoreErrors:
        - '#Method Zend_Controller_Plugin_ActionStack::popStack\(\) invoked with 1 parameter, 0 required\.#'
        - '#Class Zend_Controller_Router_Route_Chain does not have a constructor and must be instantiated without any parameters\.#'
        - '#Variable \$origSuffix might not be defined\.#'
        - '#Variable \$origModuleDir might not be defined\.#'
        - '#Variable \$translateMessages might not be defined\.#'
